button {
    display: inline-block;
    height: 36px;
    border-radius: 10px;
    background: white;
    border: 3px solid var(--mainTheme);
    margin-left: 10px;
    font-size: 1em;
    font-weight: 800;
    color: var(--mainTheme);
    outline: none;
    cursor: pointer;
}