
.card {
    font-weight: 600;
    font-size: 18px;
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.card .card-image {
    margin-top: 20px;
    width: 240px;
    height: 240px;
}

/* .card:nth-child(1) .card-image {
    background: url(../resources/path.png);
    background-size: 100%;
} */

.card .card-content {
    position: absolute;
    padding: 10px;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
}

.card .card-content .card-link {
    text-decoration: none;
    padding: 6px 12px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 5px;
}

/* .dashboard-container:hover .card {
    transform: scale(0.9);
    opacity: 0.5;
} */

.dashboard-container .card:hover {
    transform: scale(1.1);
    opacity: 1;
}


